<!-- Footer -->
<footer class="footer px-4 lg:px-8 py-4">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-2">
    <div class="md:col-span-5 order-last md:order-1">
      <span class="text-sm text-muted text-center md:text-start block">
        &copy; <%= new Date().getFullYear() %>. <strong>ProS</strong> — todos os direitos reservados
      </span>
    </div>
   
  </div>
</footer>