<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    <%= title ? title : "Raven" %>
  </title>
  <link rel="icon" href="/images/favicon.png" type="image/png">

  <!-- Simplebar -->
  <link rel="stylesheet" href="/vendor/css/simplebar.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&amp;display=swap"
    rel="stylesheet">

  <!-- Main Style -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- CSS extra da página -->
  <% if (Array.isArray(extraCss)) { %>
    <% extraCss.forEach(function(href){ %>
      <link rel="stylesheet" href="<%= href %>">
      <% }) %>
        <% } %>
</head>