<div class="py-3 px-5 flex flex-col shrink-0">
  <div class="static">
    <a data-bs-auto-close="outside" data-bs-offset="10,10" data-bs-boundry="viewport" data-bs-toggle="dropdown" href="#"
      class="block">
      <div class="flex flex-nowrap items-center gap-3.5 rounded-lg">
        <img src="/images/avatars/thumb-1.jpg" class="min-w-8 mx-auto block max-w-8 rounded-full shrink-0" alt="">

        <div class="flex-grow shrink-0 flex items-center justify-between overflow-hidden">
          <h6 class="!text-current user-text truncate w-full" title="<%= user && user.nome ? user.nome : 'Usuário' %>">
            <% let displayName="Usuário" ; if (user && user.nome) { let nameParts=user.nome.trim().split(' ');
                  if (nameParts.length > 1) {
                    // Pega o primeiro e o último nome
                    displayName = nameParts[0] + ' ' + nameParts[nameParts.length - 1];
                  } else {
                    displayName = nameParts[0];
                  }
                } else if (user && user.email) {
                  displayName = user.email.split(' @')[0]; } %>
              <%= displayName %>
          </h6>
        </div>

      </div>
    </a>

    <div class="dropdown-menu w-54 z-50">
      <div class="flex items-center gap-3.5 p-2 mb-2 rounded-lg bg-zinc-50 dark:bg-zinc-800">
        <img src="/images/avatars/thumb-1.jpg" class="w-7 shrink-0 rounded-full" alt="">
        <div class="flex-grow overflow-hidden">
          <p class="text-sm text-muted">Logado como</p>
          <p class="text-sm truncate w-full" title="<%= (user && user.email) ? user.email : '-' %>">
            <%= (user && user.email) ? user.email : "-" %>
          </p>
        </div>
        <span class="shrink-0 pl-2">
          <span class="icon-[solar--verified-check-bold] text-green-500"></span>
        </span>
      </div>

      <hr class="border-zinc-100 dark:border-zinc-800 my-2">

      <a href="/logout" class="dropdown-item">
        <span class="dropdown-icon">
          <span class="icon-[lucide--log-out]"></span>
        </span>
        Sair
      </a>
    </div>
  </div>
</div>
</aside>