<!DOCTYPE html>
<html lang="pt-BR" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raven - Clientes</title>

    <link rel="icon" href="/images/favicon.png" type="image/png">

    <!-- Simplebar -->
    <link rel="stylesheet" href="/vendor/css/simplebar.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&amp;display=swap"
        rel="stylesheet">

    <!-- Main Style -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Page css -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/3.0.1/css/select.dataTables.css">
    <link rel="stylesheet" href="/vendor/css/tom-select.min.css">
</head>

<body
    class="font-theme flex flex-col h-full text-base font-normal bg-zinc-50 dark:bg-zinc-950 text-zinc-600 dark:text-zinc-300 text-left rtl:text-right">

    <%- include('partials/sidebar') %>

        <!-- Main -->
        <main class="flex-1 lg:ms-64 flex flex-col app-content">

            <%- include('partials/header') %>

                <!-- Page Header -->
                <div class="px-4 lg:px-8 py-4">
                    <h2 class="text-xl mb-2">Clientes</h2>
                    <!-- Breadcrumbs -->
                    <ol class="flex gap-1 items-center text-sm">
                        <li class="flex items-center">
                            <a href="/dashboard" class="text-zinc-400 hover:text-zinc-700 dark:hover:text-white">
                                Dashboard</a>
                        </li>
                        <li class="flex items-center opacity-30 leading-none">
                            <span class="icon-[lucide--chevron-right] rtl:rotate-180"></span>
                        </li>
                        <li class="flex items-center"><span class="pointer-events-none">Clientes</span></li>
                    </ol>
                </div>

                <!-- Page Content -->
                <div class="content flex-grow lg:px-4">
                    <div class="grid grid-cols-1 px-4">
                        <div class="rounded-xl bg-white dark:bg-zinc-900 shadow-card mb-4">
                            <div
                                class="flex flex-wrap gap-2 items-center p-4 border-b border-zinc-500/10 dark:border-zinc-800">
                                <!-- Search -->
                                <div class="flex-grow">
                                    <div class="relative">
                                        <input type="search" class="input !ps-9" name="customerSearch"
                                            id="customerSearch" placeholder="Buscar cliente">
                                        <span
                                            class="iconify icon-[lucide--search] pointer-events-none absolute start-0 top-0 h-full flex items-center justify-center ms-3 text-muted"></span>
                                    </div>
                                </div>
                                <div class="flex items-center flex-wrap justify-end gap-2">
                                    <button id="deleteBtn" class="btn bg-red-500 text-white hover:bg-red-600"
                                        style="display: none;">
                                        Excluir
                                    </button>
                                    <div class="flex-grow w-56 sm:w-auto">
                                        <select id="statusFilter" class="js-select w-full sm:w-56">
                                            <option value="" selected>Todos</option>
                                            <option value="Ativo">Ativo</option>
                                            <option value="Suspenso">Suspenso</option>
                                            <option value="Pendente">Pendente</option>
                                            <option value="Bloqueado">Bloqueado</option>
                                        </select>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <div class="relative">
                                            <button data-bs-toggle="dropdown" type="button"
                                                class="btn bg-sky-500 text-white hover:bg-sky-600">
                                                <span class="icon-[lucide--download] text-lg me-1"></span>
                                                Baixar <span class="icon-[lucide--chevron-down] ms-1"></span>
                                            </button>
                                            <div class="dropdown-menu w-48 z-50 absolute !end-0 !start-auto">
                                                <a href="#!" class="dropdown-item">
                                                    <span class="icon-[lucide--copy] dropdown-icon"></span> Copiar JSON
                                                </a>
                                                <a href="#!" class="dropdown-item">
                                                    <span class="icon-[lucide--printer] dropdown-icon"></span> Imprimir
                                                </a>
                                                <a href="#!" class="dropdown-item">
                                                    <img src="/images/files/excel.svg" class="h-4 me-2" alt=""> Baixar
                                                    Excel
                                                </a>
                                                <a href="#!" class="dropdown-item">
                                                    <img src="/images/files/csv.svg" class="h-4 me-2" alt=""> Baixar CSV
                                                </a>
                                                <a href="#!" class="dropdown-item">
                                                    <img src="/images/files/pdf.svg" class="h-4 w-auto me-2" alt="">
                                                    Baixar PDF
                                                </a>
                                            </div>
                                        </div>
                                        <a href="/clientes/novo"
                                            class="btn bg-primary shrink-0 text-white hover:bg-primary-deep">
                                            <span class="icon-[lucide--user-plus] text-lg me-1"></span>
                                            Criar Novo
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Table -->
                            <table id="table_customers" class="table-default">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-nowrap">
                                            <div class="flex items-center">Nome</div>
                                        </th>
                                        <th class="text-nowrap">
                                            <div class="flex items-center">E-mail</div>
                                        </th>
                                        <th class="text-nowrap">
                                            <div class="flex items-center">Localização</div>
                                        </th>
                                        <th class="text-nowrap">
                                            <div class="flex items-center">Status</div>
                                        </th>

                                        <th class="text-nowrap" data-orderable="false"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="font-semibold text-zinc-900 whitespace-nowrap dark:text-white">
                                            <div class="flex flex-nowrap items-center">
                                                <img src="/images/avatars/thumb-4.jpg"
                                                    class="size-6 rounded-full shrink-0 me-2">
                                                <h6>Caleb Michael Stone</h6>
                                            </div>
                                        </td>
                                        <td class="whitespace-nowrap">caleb.stone@gmail.com</td>
                                        <td class="whitespace-nowrap">Edinburgh, Scotland</td>
                                        <td><span class="badge bg-green-500/10 text-green-500">Ativo</span></td>

                                        <td>
                                            <div class="flex items-center justify-end gap-1 relative z-[1]">
                                                <a href="/clientes/editar/1" role="tooltip" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" class="btn !p-1.5 hover:!text-primary"
                                                    data-bs-title="Editar">
                                                    <span class="icon-[lucide--edit] text-lg"></span>
                                                </a>
                                                <a href="/clientes/detalhes/1" role="tooltip" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" class="btn !p-1.5 hover:!text-primary"
                                                    data-bs-title="Detalhes">
                                                    <span class="icon-[lucide--eye] text-lg"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Adicione mais linhas conforme necessário -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <%- include('partials/footer') %>

        </main>

        <!-- Scripts -->
        <script src="/js/theme.js"></script>

        <!-- Page scripts -->
        <script src="/vendor/js/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/select/3.0.1/js/dataTables.select.js"></script>
        <script src="https://cdn.datatables.net/select/3.0.1/js/select.dataTables.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const table = new DataTable('#table_customers', {
                    lengthChange: false,
                    pageLength: 9,
                    scrollX: true,
                    dom: 'lrtip',
                    columnDefs: [
                        {
                            orderable: false,
                            searchable: false,
                            render: DataTable.render.select(),
                            targets: 0,
                        }
                    ],
                    select: {
                        style: 'os',
                        selector: 'td:first-child',
                        headerCheckbox: false
                    },
                    order: [[1, 'asc']],
                });

                const searchInput = document.getElementById('customerSearch');
                searchInput.addEventListener('input', e => {
                    table.search(e.target.value).draw();
                });

                table.on('draw', () => {
                    const rowCount = table.rows({ search: 'applied' }).count();
                    if (rowCount === 0) {
                        searchInput.setAttribute('disabled', 'disabled');
                    } else {
                        searchInput.removeAttribute('disabled');
                    }
                });

                const deleteBtn = document.getElementById("deleteBtn");
                table.on('select deselect', function () {
                    const selectedRows = table.rows({ selected: true }).count();
                    if (selectedRows > 0) {
                        deleteBtn.style.display = "inline-block";
                    } else {
                        deleteBtn.style.display = "none";
                    }
                });

                deleteBtn.addEventListener('click', () => {
                    table.rows({ selected: true }).remove().draw();
                    deleteBtn.style.display = 'none';
                });

                document.getElementById('statusFilter').addEventListener('change', function () {
                    table.columns(4).search(this.value).draw();
                });
            });
        </script>

        <!-- Select -->
        <script src="/vendor/js/tom-select.complete.min.js"></script>
        <script>
            document.querySelectorAll('.js-select').forEach(select => {
                new TomSelect(select, {
                    create: false,
                    allowEmptyOption: true
                });
            });
        </script>
</body>

</html>